header {
  background: rgb(12, 84, 76);
  background: linear-gradient(270deg, rgb(12, 84, 76) 0%, rgb(12, 84, 76) 80%, rgb(22, 117, 72) 100%);
  border-bottom: black solid 10px;
}
header nav li {
  font-size: 1.5rem;
  font-family: "Helvetica Neue, sans-serif";
  margin-top: 1%;
}
header .colFotoLogo {
  margin-left: 5%;
}
header .textoTitulo {
  font-size: 2.5rem;
  font-family: "Helvetica Neue, sans-serif";
  font-weight: bold;
  color: white;
}
header .textoTitulo:hover {
  color: #c6c6c6;
}
header .navbar {
  background-color: none;
  margin-left: 3%;
  align-items: center;
  --bs-bg-opacity: 0;
  padding-left: 5.3%;
}
header .collapse {
  padding-left: 9%;
}
header .textonavbar {
  color: white !important;
}
header .textonavbar:hover {
  color: #c6c6c6 !important;
}
header .botonVerdeWhatsapp {
  background-color: #198754;
  border: solid black 3px;
  font-size: 2rem;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 8%;
  padding-top: 0.58%;
  padding-left: 1%;
  padding-right: 1%;
  width: 20%;
  font-family: "Helvetica Neue, sans-serif";
}
header .botonVerdeWhatsapp:hover {
  background-color: #146f45;
  border: solid black 3px;
}
header .logoWhatsapp {
  vertical-align: -11%;
}

/* Footer */
.barraFooterSuperior {
  background-color: rgb(25, 25, 25);
  text-align: center;
  color: white;
  border-top: solid black 5px;
}

.barraFooterInferior {
  background-color: black;
  text-align: center;
}

main {
  background-image: url("../assets/img/texturapapel.jpg");
}
main .carousel {
  margin-top: 3%;
  margin-left: 3%;
}
main .carousel-inner {
  border-radius: 0.3rem !important;
}
main .cardsBlog {
  margin-top: 3%;
}
main .cardsProperties {
  height: 100%;
}
main .cardBlogIzquierda {
  margin-left: 2.2%;
  margin-right: 1%;
}
main .card-img-top {
  border-bottom: black solid 5px;
}
main .card-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Helvetica Neue, sans-serif";
}
main .card-text {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 5%;
}
main .textoCobertura {
  height: 22%;
  text-align: center;
  align-items: center;
  margin-top: 3%;
  font-family: "Helvetica Neue, sans-serif";
  font-size: 3rem;
  font-weight: bold;
}
main .textoSubCobertura {
  height: 10%;
  text-align: center;
  align-items: center;
  margin-top: 1.3%;
  font-family: "Helvetica Neue, sans-serif";
  font-size: 2rem;
  font-weight: bold;
}

#map {
  height: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

@media (min-width: 768px) {
  .blogHidingOnBigScreen {
    display: none;
  }
}
#mapEnPaginaCobertura {
  height: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

.cajaBlog {
  padding-top: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 0.3rem !important;
  border: black solid 3px;
}

.ajusteCoberturaNosotros {
  padding-bottom: 5%;
}

.textoParrafoNosotros {
  text-align: center;
  align-items: center;
  font-size: 1.25rem;
}

.tablaNosotros {
  align-items: center;
}

.textoEstudiosNosotros {
  padding-left: 10%;
}

.tituloSuperiorBlog {
  height: 22%;
  text-align: center;
  align-items: center;
  font-family: "Helvetica Neue, sans-serif";
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 3rem;
  font-weight: bold;
}

.tituloBlog {
  padding-top: 1%;
  text-align: center;
  padding-bottom: 1.5%;
}

.primerTextoCafeina {
  padding-bottom: 2%;
}

.cajaBlog {
  padding-top: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 0.3rem !important;
  border: black solid 3px;
}

.sobretituloYoutubeCafeina {
  padding-top: 2%;
  text-align: center;
}

.primerTextoVacunas {
  padding-bottom: 2.5%;
}

.ajusteListaVacunas {
  padding-bottom: 2%;
}

.logoContacto {
  align-items: center;
  text-align: center;
  padding-top: 3%;
}

.tituloSuperiorContacto {
  height: 22%;
  text-align: center;
  align-items: center;
  font-family: "Helvetica Neue, sans-serif";
  padding-top: 1%;
  font-size: 3rem;
  font-weight: bold;
}

.ajusteForm {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 4%;
  padding-bottom: 5%;
}

.ajusteContactar {
  align-items: center;
  text-align: center;
  padding-top: 2%;
}

.botonContactar {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 1%;
  border-radius: 0.3rem !important;
  font-size: 2rem;
  background-color: #198754;
  font-family: "Helvetica Neue, sans-serif";
  font-weight: bold;
  border: black solid 3px;
  color: white;
}

.botonContactar:hover {
  background-color: #146f45;
}

/*# sourceMappingURL=style.css.map */
