/* Footer */

.barraFooterSuperior {
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    border-top: solid black 5px;
    }

.barraFooterInferior {
    background-color: black;
    text-align: center;
    }

.textoSubCobertura {
    margin-bottom: 100% !important;

}