/* Footer */


.barraFooterSuperior {
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
    border-top: solid black 5px;
    font-family: $font-main;
    margin-bottom: 0rem;
    }

.barraFooterInferior {
    background-color: black;
    text-align: center;
    }

.textoSubCobertura {
    margin-bottom: 100% !important;

}

@media (max-width: 768px) {
    
    .barraFooterSuperior {
        font-size: 1.3rem;
    }
    .footerResponsive {
        height: 8%;
        width: 8%;
    }
}

@media (min-width: 769px) and (max-width: 991px) {

    .barraFooterSuperior {
        font-size: 1.2rem;
    }
    .footerResponsive {
        height: 5%;
        width: 5%;
    }
}