
.ajusteCoberturaNosotros {
    padding-bottom: 5%;
}

.textoParrafoNosotros {
    text-align: center;
    align-items: center;
    font-size: 1.25rem;    
}

.tablaNosotros {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: auto ;
}

.textoEstudiosNosotros {
    padding-left: 10%;
    font-size: 1.10rem; 
    width: 600px;
}