.contenedorLogoContacto {
    align-items: center;
    text-align: center;
}

.logoContacto {
    align-items: center;
    text-align: center;
    padding-top: 3%;
}

.tituloSuperiorContacto {
    height: 22%;
    text-align: center;
    align-items: center;
    font-family: $font-main;
    padding-top: 1%;
    font-size: 3rem;
    font-weight: bold;
}

.ajusteForm {
    margin-left: 13%;
    margin-right: 13%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.ajusteContactar {
    align-items: center;
    text-align: center;
    padding-top:2%
}

.botonContactar {
    padding-left:5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    border-radius: .3rem !important;    
    font-size: 2rem;
    background-color: #198754;
    font-family: $font-main;
    font-weight: bold;
    border: black solid 3px;
    color: white;
}

.botonContactar:hover {
    background-color: #146f45;
}

// Responsive

@media (max-width: 768px) {

.logoContacto {
    width: 28%;   
    height: 28%;
    margin-left: auto;
    margin-right: auto;
}

// el textoIndiceSubCobertura se usa en main_index.scss

.ajusteForm {
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 8%;
    font-size: $contact-form-fontsize;
}

.form-control {
    font-size: $contact-form-fontsize;
    margin-bottom: 6%;
}

#prestacion {
    font-size: $contact-form-fontsize;
    // Utilicé !important porque en _utilities.scss .mb-3 tenía un margin-bottom 1em como !important, no dejandome cambiar el CSS
    margin-bottom: 6% !important;
}


input[type=radio] {
    border: 0px;
    width: 15%;
    height: 1.2em;
    margin-bottom: 10%;
}

.ajusteRadioForm {
    text-align: center;
    margin-top: 3%;
}

.textoComentarios {
    font-size: $contact-form-fontsize;
}

#textAreaComentarios {
    height: 20vh;
    margin-bottom: 0%;
}

.botonContactar {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 9%;
    padding-right: 9%;
}

}

@media (min-width: 769px) and (max-width: 991px) {
    
    .logoContacto {
        width: 17%;   
        height: 17%;
    }

    .botonContactar {
        margin-top: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 9%;
        padding-right: 9%;
    }
}