.tituloSuperiorBlog {
    height: 22%;
    text-align: center;
    align-items: center;
    font-family: $font-main;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 3rem;
    font-weight: bold;
}

.tituloBlog {
    padding-top: 1%;
    text-align: center;
    padding-bottom: 1.5%;
}   

.primerTextoCafeina {
    padding-bottom: 2%;
}

.cajaBlog {
    padding-top :1.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    background-color: $box-color-main;
    // Fallback de color de fondo
    // background-color: white;

    border-radius: .3rem !important;
    border: black solid 3px;
}

.sobretituloYoutubeCafeina {
    padding-top: 2%;
    text-align: center;
}

.primerTextoVacunas {
    padding-bottom: 2.5%;
}

.ajusteListaVacunas{
    padding-bottom: 2%;
}

.imgVacunas {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 1%;
}

// Responsive

@media (max-width: 768px) {

    .primerTextoCafeina {
        font-size: 1.5rem;
    }

    .cajaBlog {
        margin-bottom: 10% !important;
    }

    .textoVacunas {
        font-size: 1.5rem;
    }

    .imgVacunas {
        margin-left: 15%;
        margin-bottom: 5%;
        border: solid black 3px;
    }


}

