

.cajaBlog {
    padding-top :1.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: .3rem !important;
    border: black solid 3px;
}

.ajusteCoberturaNosotros {
    padding-bottom: 5%;
}

.textoParrafoNosotros {
    text-align: center;
    align-items: center;
    font-size: 1.25rem;    
}

.tablaNosotros {
    align-items: center;
}

.textoEstudiosNosotros {
    padding-left: 10%;
}