// Paleta de colores

$color-main: #5fc1b7;
$color-secondary: #0e645a;

$bg-color-main: PEND;
$bg-color-secondary: PEND;

// Texto 

$font-main: "Helvetica Neue, sans-serif";
$fontsize-main: 2rem;

$color-texto-header: white;
$color-texto-hover-header: #c6c6c6;

$font-secondary: PEND;
$fontsize-secondary: 1.5rem;


