// Paleta de colores

$color-main: #5fc1b7;
$color-secondary: #4a958c;

$bg-color-main: PEND;
$bg-color-secondary: PEND;

// Texto 

$font-main: "Helvetica, sans-serif";
$fontsize-main: 2rem;

$font-secondary: PENDIENTE;
$fontsize-secondary: 1.5rem;


