// Fuente Helvetica
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

// Paleta de colores

$color-main: #5fc1b7;
$color-secondary: #0e645a;


// Color semiransparente de las cajas de fondo
$box-color-main: rgba(255, 255, 255, 0.75);

// Fallback de blanco sin semitransparencia
$bg-color-secondary: rgba(255, 255, 255);

// Texto 

$font-main: "Helvetica Neue, sans-serif";
$fontsize-main: 2rem;

$color-texto-header: white;
$color-texto-hover-header: #c6c6c6;

$font-secondary: PEND;
$fontsize-secondary: 1.5rem;


